@inherits OnlineStoresManagerComponent

<div class="top-row ps-3 navbar navbar-dark bg-white">
    <div class="container-fluid">
        <img src="logo.png" style="width:100px" />
        <button title="Navigation menu" class="navbar-toggler" @onclick=@ToggleNavMenu>
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick=@ToggleNavMenu>
    <nav class="flex-column">
        <AuthorizeView Roles=@Roles.Administrator>
            <Authorized>
                <div class="nav-item px-3 pb-0 my-0">
                    <NavLink class="nav-link" href="energy-parks" Match=@NavLinkMatch.Prefix>
                        <TelerikSvgIcon Icon="@SvgIcon.Grid" Class="me-3" />  @Localizer["EnergyParks"]
                    </NavLink>
                </div>
                <div class="nav-item ms-3 my-0 py-0 px-3">
                    <NavLink class="nav-link" href="assets" Match=@NavLinkMatch.Prefix>
                        <TelerikSvgIcon Icon="@SvgIcon.AggregateFields" Class="me-3" /> @Localizer["Assets"]
                    </NavLink>
                </div>
                <div class="nav-item ms-3 my-0 py-0 px-3">
                    <NavLink class="nav-link" href="meterings/points" Match=@NavLinkMatch.Prefix>
                        <TelerikSvgIcon Icon="@SvgIcon.ParameterInteger" Class="me-3" /> @Localizer["MeteringPoints"]
                    </NavLink>
                </div>
                <div class="nav-item ms-3 my-0 py-0 px-3">
                    <NavLink class="nav-link" Match=@NavLinkMatch.Prefix>
                        <TelerikSvgIcon Icon="@SvgIcon.TextClip" Class="me-3" /> @Localizer["ParkPerformance"]
                    </NavLink>
                </div>
                <div class="nav-item ms-3 my-0 py-0 px-3">
                    <NavLink class="nav-link" href="energy-parks/reports" Match=@NavLinkMatch.Prefix>
                        <TelerikSvgIcon Icon="@SvgIcon.ChartLineMarkers" Class="me-3" /> @Localizer["ReportExplorer"]
                    </NavLink>
                </div>
                <hr class="mx-3 mt-0 mb-0 text-white">
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3 pb-0 my-0">
                    <NavLink class="nav-link" Match=@NavLinkMatch.Prefix>
                        <TelerikSvgIcon Icon="@SvgIcon.ArrowsAxes" Class="me-3" /> @Localizer["MultiUseManagement"]
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles=@Roles.Administrator>
            <Authorized>
                <div class="nav-item ms-3 my-0 py-0 px-3">
                    <NavLink class="nav-link" href="markets" Match=@NavLinkMatch.Prefix>
                        <TelerikSvgIcon Icon="@SvgIcon.Graph" Class="me-3" /> @Localizer["MarketExplorer"]
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item ms-3 my-0 py-0 px-3">
                    <NavLink class="nav-link" href="scenarios" Match=@NavLinkMatch.Prefix>
                        <TelerikSvgIcon Icon="@SvgIcon.FormulaFx" Class="me-3" /> @Localizer["Scenarios"]
                    </NavLink>
                </div>
                <div class="nav-item ms-5 my-0 py-0 px-3">
                    <NavLink class="nav-link" Match=@NavLinkMatch.Prefix>
                        <TelerikSvgIcon Icon="@SvgIcon.Sum" Class="me-3" /> @Localizer["Runs"]
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles=@Roles.Administrator>
            <Authorized>
                <div class="nav-item ms-5 my-0 py-0 px-3">
                    <NavLink class="nav-link" href="transmissions/efficiencies" Match=@NavLinkMatch.Prefix style="line-height:1.2;">
                        <TelerikSvgIcon Icon="@SvgIcon.DecimalIncrease" Size="@ThemeConstants.SvgIcon.Size.ExtraLarge" Class="me-3" /> @Localizer["GlobalTransmissionEfficiencies"]
                    </NavLink>
                </div>
                <div class="nav-item ms-5 my-0 py-0 px-3">
                    <NavLink class="nav-link" href="transmissions/eligibilities" Match=@NavLinkMatch.Prefix style="line-height:1.2;">
                        <TelerikSvgIcon Icon="@SvgIcon.DecimalIncrease" Size="@ThemeConstants.SvgIcon.Size.Large" Class="me-3" /> @Localizer["GlobalTransmissionEligibilities"]
                    </NavLink>
                </div>
                <div class="nav-item ms-5 my-0 py-0 px-3">
                    <NavLink class="nav-link" href="transmissions/limits" Match=@NavLinkMatch.Prefix style="line-height:1.2;">
                        <TelerikSvgIcon Icon="@SvgIcon.DecimalIncrease" Size="@ThemeConstants.SvgIcon.Size.Large" Class="me-3" /> @Localizer["GlobalTransmissionLimits"]
                    </NavLink>
                </div>
                <div class="nav-item ms-3 my-0 py-0 px-3">
                    <NavLink class="nav-link" href="https://cec-graph-1980093.hybridnet.energy/d/da6e0ef6-cea2-431d-b50a-195790238728/optimization-flow?orgId=1&theme=light" target="_blank" Match=@NavLinkMatch.Prefix>
                        <TelerikSvgIcon Icon="@SvgIcon.ChartLineMarkers" Class="me-3" /> @Localizer["ReportExplorer"]
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <hr class="mx-3 mt-0 mb-0 text-white">
        <AuthorizeView Roles=@Roles.Administrator>
            <Authorized>
                <div class="nav-item px-3 pb-0 my-0">
                    <NavLink class="nav-link" Match=@NavLinkMatch.Prefix>
                        <TelerikSvgIcon Icon="@SvgIcon.Globe" Class="me-3" /> @Localizer["MarketPartners"]
                    </NavLink>
                </div>
                <div class="nav-item ms-3 my-0 py-0 px-3">
                    <NavLink class="nav-link" href="markets/dgos" Match=@NavLinkMatch.Prefix style="line-height:1.2;">
                        <TelerikSvgIcon Icon="@SvgIcon.Accessibility" Class="me-3" /> @Localizer["DGO"]
                    </NavLink>
                </div>
                <div class="nav-item ms-3 my-0 py-0 px-3">
                    <NavLink class="nav-link" href="markets/tsos" Match=@NavLinkMatch.Prefix style="line-height:1.2;">
                        <TelerikSvgIcon Icon="@SvgIcon.Accessibility" Class="me-3" /> @Localizer["TSO"]
                    </NavLink>
                </div>
                <div class="nav-item ms-3 my-0 py-0 px-3">
                    <NavLink class="nav-link" href="markets/operators" Match=@NavLinkMatch.Prefix>
                        <TelerikSvgIcon Icon="@SvgIcon.Accessibility" Class="me-3" /> @Localizer["Operators"]
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>
